<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">

    <title>书列表</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
</head>

<body>
<a href="/index/">首页</a>
<a href="/add_book/">添加书</a>

<table class="table" border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>标题</th>
            <th>出版社</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
    </thead>
    <tbody>
        {% for book in book_list %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.publisher.name }}</td>
                <td>
                    <a href="/edit_book/?id={{ book.id }}">编辑</a>
                </td>
                <td>
                    <a href="/delete_book/?id={{ book.id }}">删除</a>
                </td>

            </tr>
        {% endfor %}
    </tbody>

</table>

</body>
</html>